{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

    <section class="slide_top">
        <div class="d-flex justify-content-center ">
            <h2 class="mt-3">Sélection les + Téléchargés</h2>
        </div>
        <div class="slide-container swiper">

            <div class="slide-content">

                <div class="card-wrapper swiper-wrapper">
                    {% for product in products %}
                        <div class="card swiper-slide">
                            <div class="image-content">
                                <span class="overlay"></span>

                                <div class="card-image">
                                    {#                                    <img src="{{ asset('uploads/img')~ '/'~ product.img }}" alt="{{ product.title }}"> #}
                                </div>
                            </div>

                            <div class="card-content">
                                <h2 class="name">   {{ product.title }}</h2>
                                <p class="description">
                                    {{ product.description }}
                                </p>

                                <button class="button"><a href="{{ path('app_product_show', {'id': product.id}) }}">Détails</a>
                                </button>
                            </div>
                        </div>
                    {% endfor %}
                </div>

            </div>

            {% if app.user %}
                {{ user.getuserName() }}

            {% endif %}
            <div class="swiper-button-next swiper-navBtn">
            </div>
            <div class="swiper-button-prev swiper-navBtn">
                <button></button>
            </div>
            <div class="swiper-pagination"></div>
        </div>
    </section>
    <section class="filtersHome">
        <ul class="nav justify-content-md-around">
            {% for category in product_categories %}
                <li class="nav-item py-2 m-2">
                    <a class="nav-link active " aria-current="page"
                       href="{{ path('app_product_category_show', {'id': category.id}) }}">{{ category.name }}</a>
                </li>
            {% endfor %}
        </ul>
    </section>

    <section>
        <div class="container">
            <div class="row">
                <div class="col-8">
                    <div class="d-flex justify-content-evenly mt-3">
                        <h2 class="title_cards_body">Nouveautés</h2>
                    </div>


                    <div class="mt-3 row row-cols-1 row-cols-md-4 d-flex justify-content-around">
                        {% for product in products %}
                            <div class="card m-2">
                                {#                                <img src="{{ asset('uploads/img')~ '/'~ product.img }}" #}
                                class="img-fluid img-thumbnail rounded mx-auto d-block"
                                alt="{{ product.title }}"
                                />
                                <h6>{{ product.title }}</h6>
                                <p>{{ product.description }}</p>
                                <button>
                                    <a href="{{ path('app_product_show', {'id': product.id}) }}">Détails</a>
                                </button>
                            </div>
                        {% endfor %}
                    </div>
                </div>


                <div class="col-md-4">
                    <div class="d-flex justify-content-evenly mt-3">
                        <h2 class="title_cards_body">Actu 3D</h2>
                    </div>
                    <div class="d-flex flex-wrap actu3d col-md-12">
                        <h3>Modéliser des pièces</h3>
                        <p class="">Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit itaque temporibus
                            explicabo
                            magni,
                            deserunt quaerat illo debitis incidunt unde eaque dolorum aliquam eos ab tenetur dolores.
                            Magnam
                            deleniti ea rerum molestias corporis veniam numquam assumenda temporibus, voluptatem quam
                            quibusdam
                            ipsum adipisci, ab quisquam qui vel possimus aut. Dolore, voluptates doloribus.
                        </p>
                        <a href="">Lire la suite</a>
                        <h3>3d & Droit de la propriété intellectuelle?</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit itaque temporibus explicabo
                            magni,
                            deserunt quaerat illo debitis incidunt unde eaque dolorum aliquam eos ab tenetur dolores.
                            Magnam
                            deleniti ea rerum molestias corporis veniam numquam assumenda temporibus, voluptatem quam
                            quibusdam
                            ipsum adipisci, ab quisquam qui vel possimus aut. Dolore, voluptates doloribus.
                        </p>
                        <a href="">Lire la suite</a>
                        <h3>Pourquoi publier mes designs sur Styl 3D?</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit itaque temporibus explicabo
                            magni,
                            deserunt quaerat illo debitis incidunt unde eaque dolorum aliquam eos ab tenetur dolores.
                            Magnam
                            deleniti ea rerum molestias corporis veniam numquam assumenda temporibus, voluptatem quam
                            quibusdam
                            ipsum adipisci, ab quisquam qui vel possimus aut. Dolore, voluptates doloribus.
                        </p>
                        <a href="">Lire la suite</a>
                    </div>
                    <div class="d-flex justify-content-center ">
                        <h2 class="title_cards_body col-12 my-2">Des petits problèmes?Toutes nos astuces</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="slide_foot">
            <div class="d-flex justify-content-center ">
                <h2 class="slide_f_title text-center my-2">Sélection Styl3D</h2>
            </div>
            <div class="cards_foot">
                <div class="card_f">
                    <h3>corps</h3>
                    <img src="assets/img/img1.png" alt="">
                    <button>Voir</button>
                </div>
                <div class="card_f">
                    <h3>Vase-Déco</h3>
                    <img src="assets/img/img2.png" alt="">
                    <button>Voir</button>
                </div>
                <div class="card_f">
                    <h3>Papillon</h3>
                    <img src="assets/img/img3.png" alt="">
                    <button>Voir</button>
                </div>
            </div>
        </div>
    </section>


    <section class="info_footer">
        <div class="d-flex justify-content-evenly mt-3">
            <h2>LIENS PRODUITS-FOURNITURES</h2>
        </div>
        <div class="info">
            <div class="info_lien">
                <li><a href="http://">LIEN 1</a></li>
                <li><a href="http://">LIEN 2</a></li>
                <li><a href="http://">LIEN 3</a></li>
            </div>
            <article class="foot">
                <h3>ACTU</h3>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugit expedita
                placeat adipisci. Placeat
                reprehenderit asperiores, ab iure consectetur possimus aut vel
                sequi expedita, neque ad delectus
                eveniet, ea rem atque!
            </article>
        </div>

    </section>
{% endblock %}
