<a class="card-product" href="{{ path('app_product_show', {'id': product.id}) }}">
    <div class="container-image {% if lowHeight is defined %}low-height{% endif %}">
        <img src="{{ asset('uploads/img')~ '/'~ product.img }}" alt="{{ product.title }}">
        {#        <div class="container-price"> #}
        {#            {{ product.price }}€ #}
        {#        </div> #}
{#        <div class="container-infos">#}
            {{ product.title }}
{#        </div>#}
    </div>

</a>