{{ form_start(form) }}
   {{ form_row(form.title) }}
{{ form_row(form.description) }}
{{ form_row(form.productCategories) }}
{{ form_row(form.documents) }}
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
