{% extends 'base.html.twig' %}

{% block title %}Product{% endblock %}

{% block body %}
    <div class="d-flex justify-content-evenly mt-3">
        <h2 class="title_cards_body">{{ product.title }}</h2>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-8">
                <section class="carouselProduct">
                    <button class="slider-button slider-button-prev" data-slide-direction="prev">&#8592</button>
                    <button class="slider-button slider-button-next" data-slide-direction="next">&#8594</button>
                    <ul class="slides">

{#                        <li class="slide" data-active-slide>#}
{#                            <img src="{{ asset('build/images/logo.41a507cc.png') }}" alt="">#}
{#                        </li>#}
                        {% for image in product.images %}
                            <li class="slide" {% if loop.first %}data-active-slide{% endif %}>
                                <img src="{{ asset('/uploads/img/' ~ image.name) }}"
                                     class="d-block w-100" alt="Image" width="400px">
                            </li>
                        {% endfor %}
                    </ul>
                    {#                    <div class="slides-circles"> #}
                    {#                        <div data-active-slide></div> #}
                    {#                        <div></div> #}
                    {#                        <div></div> #}
                    {#                    </div> #}
                </section>
            </div>
            <div class="col-4">
                <div class="d-flex justify-content-evenly mt-3">
                    <h2 class="">Détails</h2>
                </div>
                <div class="row">
                    <h3>Description</h3>
                    {{ product.description }}
                    <h3>Date de publication</h3>
                    {{ product.createdAt|date('d-m-Y H:i:s') }}
                    <h3>Créé par :</h3>
                    {{ product.user.userIdentifier }}
                    <h3>Lien de téléchargement</h3>
                    <button type="button" class="btn btn-warning"><a
                                href="{{ asset('uploads/files/' ~ product.fileZip ) }}" class="fileLink" download>Télécharger</a>
                    </button>
                    <h3>Note</h3>
                    {% for score in getAvgByProduct %}
                        {% dump(score) %}
                        {% if(product.id == score.id) %}
                            {% for i in 1..(score.avg_rating|format_number) %}
                                <img src="{{ asset('build/images/stars.png')| raw }}" alt="stars" class="stars">
                            {% endfor %}
                        {% endif %}
                    {% endfor %}

                    <button id="addScore" >Ajouter une note</button>
                    <div id="ratingForm" class="myRatingForm">
                        {{ form_start(scoreForm) }}
                        {{ form_row(scoreForm.score) }}
                        {{ form_widget(scoreForm.user, { 'attr' : { 'style':'display:none'} }) }}
                        <button type="submit">Ajouter</button>
                        {{ form_end(scoreForm) }}
                    </div>
                </div>
            </div>
        </div>

        <section>
            <div class="container">
                <div class="d-flex justify-content-evenly mt-3">
                    <h2 class="title_cards_body">Commentaires</h2>
                </div>
                <div class="commentsProduct">
                    {% for comment in product.comments %}
                        <div class="commentProduct">
                            {% include 'partials/_productComment.html.twig' %}
                        </div>
                    {% endfor %}
                </div>
                <button id="addComment" >Ajouter un commentaire</button>
                <div id="formComment" class="myFormComment">

                    {{ form_start(commentForm) }}
                    {{ form_row(commentForm.content) }}
                    {{ form_row(commentForm.rgpd) }}

                    <div class="col-12 mb-4">
                        {{ form_widget(commentForm.user, { 'attr' : { 'style':'display:none'} }) }}
                    </div>
                    <div class="col-12 mb-4">
                        {{ form_widget(commentForm.createdAt, { 'attr' : { 'style':'display:none'} }) }}
                    </div>

                    <div class="col-12 d-flex justify-content-end pt-5">
                        <button type="submit">Ajouter</button>
                    </div>
                    {{ form_end(commentForm) }}
                </div>
            </div>
        </section>
    </div>


        <script>
            const buttons = document.querySelectorAll("[data-slide-direction]");

            buttons.forEach((button) => {
                button.addEventListener("click", () => {
                    const offset = button.dataset.slideDirection === "next" ? 1 : -1;
                    changeSlide(offset);
                });
            });

            const changeSlide = (offset) => {
                const slides = document.querySelector(".slides");
                const activeSlide = slides.querySelector("[data-active-slide]");
                let newIndex = [...slides.children].indexOf(activeSlide) + offset;
                newIndex =
                    newIndex < 0
                        ? slides.children.length - 1
                        : newIndex === slides.children.length
                            ? 0
                            : newIndex;
                slides.children[newIndex].dataset.activeSlide = true;
                delete activeSlide.dataset.activeSlide;

                // const circles = document.querySelector(".slides-circles");
                // const activeCircle = circles.querySelector("[data-active-slide]");
                // circles.children[newIndex].dataset.activeSlide = true;
                // delete activeCircle.dataset.activeSlide;
            };

            setInterval(changeSlide.bind(null, 1), 6000);

        </script>

{% endblock %}
